<p>
  receiptRequest works!
</p>

<div class="content-modal">
  <span (click)="close()" class="close">
    x
  </span>
  <h4>
    دریافت رسید
  </h4>

  <div class="form-new">
    <form #receiptRequestForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- <div class="group_form">
        <label>شناسه کالا</label>
        <input type="number" name="goodsId" class="form-control" [(ngModel)]="DataFromEdit.goodsId" />
      </div> -->
      <div class="group_form">
        <label>انتخاب کالا</label>
        <input type="text" name="goodName" class="form-control" [(ngModel)]="DataFromEdit.goodName" />
      </div>
      <div class="group_form">
        <label>کالای جدید</label>
        <input type="text" name="goodName" class="form-control" [(ngModel)]="DataFromEdit.goodName" />
      </div>
      <div class="group_form">
        <label>تعداد</label>
        <input type="number" name="count" class="form-control" [(ngModel)]="DataFromEdit.count" />
      </div>
      <div class="group_form">
        <label>قیمت رسید فاکتور شده</label>
        <input type="money" name="Price" class="form-control" [(ngModel)]="DataFromEdit.Price" />
      </div>
      <div class="group_form">
        <label>زمان تراکنش</label>
        <input type="date" name="ActionDate" class="form-control" [(ngModel)]="DataFromEdit.ActionDate" />
      </div>
    </form>
    
    <div class="action-form">
      <button class="btn btn-secoundry" (click)="close()">
        لغو
      </button>
      <button class="btn btn-success" (click)="onSubmit()">
        ثبت
      </button>
    </div>
  </div>
</div>