<p>
  assignmentRequest works!
</p>

<div class="content-modal">
  <span (click)="close()" class="close">
    x
  </span>
  <h4>
    درخواست حواله
  </h4>

  <div class="form-new">
    <form #assignmentRequestForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- <div class="group_form">
        <label>شناسه کالا</label>
        <input type="number" name="goodsId" class="form-control" [(ngModel)]="DataFromEdit.goodsId" />
      </div> -->
      <div class="group_form">
        <label>نام کالا</label>
        <select>
          <option class="form-control" *ngFor="let item of goodsList" [value]="item.id">{{ item.goodName }}</option>
        </select>
        <!-- <input type="text" name="goodName" class="form-control" [(ngModel)]="DataFromEdit.goodName" /> -->
      </div>
      <div class="group_form">
        <label>تعداد کل موجود در انبار</label>
        <input type="number" name="count" class="form-control" [(ngModel)]="DataFromEdit.count" />
      </div>
      <div class="group_form">
        <label>تعداد درخواستی</label>
        <input type="number" name="count" class="form-control" [(ngModel)]="DataFromEdit.count" />
      </div>
      <div class="group_form">
        <label>قیمت حواله شد</label>
        <input type="money" name="Price" class="form-control" [(ngModel)]="DataFromEdit.Price" />
      </div>
      <div class="group_form">
        <label>زمان تراکنش</label>
        <input type="date" name="ActionDate" class="form-control" [(ngModel)]="DataFromEdit.ActionDate" />
      </div>
      <!-- <div class="group_form">
        <label>نوع تراکنش</label>
        <input type="text" name="type" class="form-control" [(ngModel)]="DataFromEdit.type" />
      </div>   -->
         
      <!-- <div class="group_form">
        <label>نوع تراکنش</label>
        <select name="category" class="form-control" [(ngModel)]="DataFromEdit.category">
          <option *ngFor="let category of catgories" [value]="category.key">{{category.value}}</option>
        </select>
      </div> -->
      
    </form>
    <div class="action-form">
      <button class="btn btn-secoundry" (click)="close()">
        لغو
      </button>
      <button class="btn btn-success" (click)="onSubmit()">
        ثبت
      </button>
    </div>
  </div>
</div>