<p>
  assignmentOrReciept works!
</p>

<div class="container">
  <div class="header">
    <h2>
      لیست حواله و رسید
    </h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success" (click)="showAssignmentModal()">
        درخواست حواله
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success" (click)="showReceiptModal()">
         دریافت رسید
      </button>
    </div>
  </div>


  <div class="body">
    <table class="styled-table">
      <thead>
        <tr>
          <th>شناسه فاکتور</th>
          <th>شناسه کالا</th>
          <th>نام کالا</th>
          <th>تعداد</th>
          <th>زمان تراکنش</th>
          <th> نوع تراکنش</th>
          <th> قیمت</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of AssignmentOrReceiptList; let i=index">
          <td>{{item.id}}</td>
          <td>{{item.goodsId}}</td>
          <td>{{item.goodName}}</td>
          <td>{{item.count}}</td>
          <td>{{item.ActionDate}}</td>
          <td>{{item.type}}</td>
          <td>{{item.Price}}</td>
          <!-- <td> <button class="btn btn-warning" (click)="showModalForEdit(item)">
              ویرایش
            </button>
          </td>           -->
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal-wrapper" *ngIf="activeAssignmentModal">
  <app-assignmentRequest (onClose)="closeModal()" [editId]="editId" (upsertItem)="upsertGoodList($event)"
     [AssignmentOrRecieptList]="AssignmentOrReceiptList"></app-assignmentRequest>
</div>
<!-- [catgories]="goodCategory" -->

<div class="modal-wrapper" *ngIf="activeReceiptModal">
  <app-receiptRequest (onClose)="closeModal()" [editId]="editId" (upsertItem)="upsertGoodList($event)"
     [AssignmentOrRecieptList]="AssignmentOrReceiptList"></app-receiptRequest>
</div>

<!-- <div class="modal-wrapper" *ngIf="activeModal">
  <app-requestForWarehouse (onClose)="closeModal()" [editId]="editId" (upsertItem)="upsertGoodList($event)"
     [AssignmentOrRecieptList]="AssignmentOrReceiptList"></app-requestForWarehouse>
</div> -->
<!-- [catgories]="goodCategory" -->